@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #101828;
  --color-secondary: #08c7b7;
  --color-accent: #252274;
  --color-base-100: #fbf7f9;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #a4a4a4;
  --color-secondary: #36f7e7;
  --color-accent: #8f8cde;
  --color-base-100: #070305;
}

