@import "tailwindcss";
@plugin "daisyui"{
  themes: light --default, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #b05779;
  --color-secondary: #a6d5b7;
  --color-accent: #81adc4;
  --color-background: #fbf7f9;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #a64e70;
  --color-secondary: #2a5a3c;
  --color-accent: #3b667d;
  --color-background: #070305;
}

